NET i0 LOC = P80 | IOSTANDARD = LVCMOS33;
NET i1 LOC = P81 | IOSTANDARD = LVCMOS33;
NET i2 LOC = P82 | IOSTANDARD = LVCMOS33;
NET i3 LOC = P83 | IOSTANDARD = LVCMOS33;
	
NET y loc=p16 | IOSTANDARD = LVCMOS33; 
	
NET c LOC = P17 | IOSTANDARD = LVCMOS33;
NET d LOC = P14 | IOSTANDARD = LVCMOS33;